/* Twitter (wide) */

/* .route-home makes sure the styles only get use for the main timeline */

.route-home .dashboard {
  display: none;
}

.route-home .content-main {
  width: 100%;
}

.route-home .content {
  display: flex;
}

.route-home .tweet {
  overflow: hidden;
}

.route-home .tweet.tweet.tweet:hover {
    background-color: transparent;
}

.route-home .stream-item.stream-item {
  background: transparent;
  border-left: none;
  border-right: none;
}


/* who -------------------- */

.route-home .tweet > .context {
  position: absolute;
  width: 200px;
  margin-left: 58px;
  margin-top: 36px;
}

.route-home .stream-item-header {
  flex: 0 0 300px;
}

.route-home .fullname {
  display: block;
}


/* tweet -------------------- */

.route-home .js-tweet-text-container {
  flex: 1;
}

.route-home .tweet-text {
  max-width: 420px;
  font-size: 1.3em;
  line-height: 1.5;
}

.route-home .QuoteTweet {
  font-size: .8em;
}


/* media -------------------- */

.route-home .QuoteTweet,
.route-home .AdaptiveMedia,
.route-home .AdaptiveMedia.is-generic-video,
.route-home .js-media-container {
  display: block;
  flex: 0 0 240px;
  max-height: 120px;
}

.route-home .QuoteTweet:hover,
.route-home .AdaptiveMedia:hover,
.route-home .AdaptiveMedia.is-generic-video:hover,
.route-home .js-media-container:hover {
  flex: 0 0 480px;
  max-height: 480px;
  margin-left: 2em;
}


/* action -------------------- */

.route-home .stream .stream-item-footer {
  display: none;
  position: absolute;
  left: 360px;
  bottom: 0px;
  width: 160px;
  height: 32px;
  padding: 10px;
}

.route-home .content:hover .stream-item-footer {
  display: block;
}

.route-home .content:hover .js-tweet-text-container {
  padding-bottom: 40px;
}

.route-home .ProfileTweet-actionList {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.route-home .ProfileTweet-action {
  flex: 1;
  min-width: 0
}

.route-home .IconTextContainer {
  display: block;
}
